# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Python
# Virtual environment
venv/
# Pytest cache
.pytest_cache/
# Playwright
playwright-report/
# MyPy
.mypy_cache/
.dmypy.json
dmypy.json
# IDE specific
.pyre/
# Jupyter Notebook
.ipynb_checkpoints
# Python egg
*.egg-info/
.eggs/
# Python build
build/
develop-eggs/
dist/
downloads/
pip-wheel-metadata/
share/python-wheels/
# Installer logs
pip-log.txt
pip-delete-this-directory.txt
# Unit test / coverage reports
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
__pycache__

# Configuration files
# Jupyter Notebook
*.ipynb_checkpoints
# mypy
.mypy_cache/
.dmypy.json
dmypy.json
# Pyre
.pyre/
# pyenv
.python-version
# pipenv
Pipfile.lock
# poetry
poetry.lock
# pyright
pyrightconfig.json
