<div class="container">
  <header>
    <h1>MkDevs OÜ</h1>
    <meta name="robots" content="noindex">
  </header>
  <main>
    <h2>Website under construction, coming soon</h2>
    <div class="icons">
      <a href="mailto:info@mkdevs.ee">
        <i class="fas fa-envelope"></i>
      </a>
      <a href="https://github.com/MkDevs-OU/" target="_blank">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/company/mkdevsee/" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
  </main>
  <footer>
    <a href="https://www.google.com/maps/place/Ahtri+12,+10151+Tallinn,+Estonia" target="_blank">
      Harju maakond, Tallinn, Kesklinna linnaosa, Ahtri tn 12, 15551
    </a>
    <div class="registration">
      <a href="https://ariregister.rik.ee/est/company/17026096/MkDevs-O%C3%9C" target="_blank">
        Registrikood: 17026096
      </a>
    </div>
  </footer>
</div>
